---
---

$h: 200;
$s: 40%;
$l: 30%;
$d: 300s;
$x: 20;

$ff-serif:	'Chronicle SSm A', 'Chronicle SSm B', serif;
$ff-sans:		'Whitney SSm A', 'Whitney SSm B', sans-serif;

@-webkit-keyframes colorwheel {
  @for $i from 0 through $x {
    #{$i*100%/$x} { background: hsl($h+$i*360/$x, $s, $l); }
  }
}
@keyframes colorwheel {
  @for $i from 0 through $x {
    #{$i*100%/$x} { background: hsl($h+$i*360/$x, $s, $l); }
  }
}

body {
  font-family: $ff-serif;
  color: rgba(255,255,255,.85);
  background: hsl($h, $s, $l);
  -webkit-animation: colorwheel $d infinite ease-in-out;
  animation: colorwheel $d infinite ease-in-out;
  font-size: 16px;
  line-height: 1.6;
  padding: .7em;
  @media screen and (min-width: 35em) {
  	font-size: 18px;
  	line-height: 1.5;
  	padding: 1.4em;
  }
}

section {
  max-width: 40em;
  margin: auto;
}

h1, h2, h3 {
	font-family: $ff-sans;
}
h1 {
	font-size: 1.25em;
}
h2 {
	font-weight: bold;
	font-size: .85em;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 3em 0 1em;
}
p {
	margin: 0 auto 1.25em;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid rgba(255,255,255,.35);
	-webkit-transition: border 250ms;
	transition: border 250ms;
	white-space: nowrap;
	&:hover {
		border-color: rgba(255,255,255,.5);
	}
}

a.annotation {
	background: rgba(0,0,0,.2);
	border: none;
	padding: .2em .5em;
	border-radius: .25em;
	&:after {
		content: '+';
		font-size: .8em;
		width: 1em;
		margin-left: .5em;
		font-weight: bold;
	}
	&.open:after {
		content: '–';
	}
}
span.annotation {
	display: none;
	font-family: $ff-sans;
	background: rgba(0,0,0,.2);
	padding: 1.25em 1.5em;
	margin: .25em 0;
	border-radius: .25em;
	font-size: .9em;
	line-height: 1.6;
	span.annotation {
		font-size: 1em;
	}
	&.open {
		display: block;
	}
}
