.footnotes {
  font-size: var(--font-size-caption);
  margin-top: var(--type-space-500);
  hr {
    display: none;
  }
  &:before {
    border-top: 2px solid var(--hair-stroke-color);
    content: '';
    display: block;
    width: 5em;
  }
}

.footnote {
  color: var(--brand-text-color);
  font-size: var(--font-size-micro);
  margin: 0 1px;
  padding: 0 2px;
  text-decoration: none;
  &:hover {
    color: var(--link-stroke-color--hover);
  }
}

.reversefootnote {
  background: none;
  color: var(--text-muted-color);
  font-size: var(--font-size-micro);
  margin: 0 1px;
  padding: 0;
  text-decoration: none;
}
