.footnotes {
  font-size: var(--font-size-caption);
  margin-top: var(--type-space-500);
  hr {
    display: none;
  }
  &:before {
    border-top: 2px solid var(--hair-stroke-color);
    content: '';
    display: block;
    width: 5em;
  }
}

.footnote {
  background: var(--highlight-color);
  border-radius: 2em;
  font-size: var(--font-size-micro);
  margin: 0 1px;
  padding: 1px 1em;
  text-align: center;
  text-decoration: none;
}

.reversefootnote {
  background: none;
  color: var(--text-muted-color);
  font-size: var(--font-size-micro);
  margin: 0 1px;
  padding: 0;
  text-decoration: none;
}
