.lede {
  border-bottom: solid 2px var(--hair-stroke-color);
  color: var(--text-display-color);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-title);
  font-style: italic;
  font-weight: 550;
  line-height: var(--line-height-heading);
  --link-stroke-width: var(--link-stroke-width-heading);
  margin-bottom: var(--type-space-tad);
  max-width: none;
  padding: var(--type-space-300) 0 var(--type-space-400);
  text-align: center;
  @media #{$ssm} {
    padding: var(--type-space-400) 0 var(--type-space-500);
  }
  @media #{$ssxl} {
    padding: var(--type-space-500) var(--type-space-600) var(--type-space-600);
  }
}
