.lede {
  border-bottom: solid 2px var(--hair-stroke-color);
  color: var(--text-display-color);
  font-family: var(--font-family-serif);
  font-style: normal;
  line-height: var(--line-height-heading);
  --link-stroke-width: var(--link-stroke-width-heading);
  margin-bottom: var(--type-space-tad);
  max-width: none;
  padding: var(--type-space-300) 0 var(--type-space-400);
  @media #{$ssm} {
    padding: var(--type-space-400) 0 var(--type-space-500);
  }
  @media #{$ssxl} {
    padding: var(--type-space-500) 0 var(--type-space-600);
  }
  > * + * {
    margin-top: var(--type-space-500);
  }
  header, p {
    margin-inline: 0;
  }
  header {
    font-size: var(--font-size-poster);
    font-weight: 350;
    strong {
      display: block;
      color: var(--brand-text-color);
      font-weight: 550;
    }
  }
  .rotator {
    color: var(--text-muted-color);
    font-size: var(--font-size-heading);
    max-width: none;
    &.enabled {
      ul {
        list-style: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        display: inline;
        li {
          display: none;
          transition: color 250ms ease;
          &.active {
            display: inline;
          }
          &:hover {
            color: var(--text-color);
          }
        }
      }
      &::before, &::after {
        display: inline;
        font-weight: 400;
        color: var(--brand-text-color);
      }
      &::before {
        content: '{';
      }
      &::after {
        content: '}';
      }
    }
  }
}
