.teaser__title {
  font-family: var(--font-family-display);
  font-size: var(--font-size-heading);
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: var(--type-space-smidgen);
}

.teaser__published {
  margin-bottom: var(--type-space-pinch);
}
