@font-face {
    font-family: "Literata";
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/literata/Literata-Var.woff2) format('woff2-variations');
}

@font-face {
    font-family: "Literata";
    font-style: italic;
    font-weight: 100 900;
    src: url(/fonts/literata/Literata-Var-Italic.woff2) format('woff2-variations');
}
