@font-face {
    font-family: "Newsreader";
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/newsreader/Newsreader.woff2) format('woff2-variations');
}

@font-face {
    font-family: "Newsreader";
    font-style: italic;
    font-weight: 100 900;
    src: url(/fonts/newsreader/Newsreader-Italic.woff2) format('woff2-variations');
}
