<header role="banner">
  <h1><a class="h-card" rel="me" href="{{ "/" | prepend: site.baseurl }}">Nevan Scott</a></h1>
  <nav role="navigation">
    <a href="/" rel="home"{% if page.url == "/" %} class="active"{% endif %}>About</a>
    <a href="/portfolio/"{% if page.url == "/portfolio/" %} class="active"{% endif %}>Portfolio</a>
    <a href="/teaching/"{% if page.url == "/teaching/" %} class="active"{% endif %}>Teaching</a>
    <a href="/reading/"{% if page.url == "/reading/" %} class="active"{% endif %}>Reading</a>
  </nav>
</header>
