$ssm: "all and (min-width: 35em)";
$ssl: "all and (min-width: 45em)";

// Color
:root, [data-lightingmode=day], [data-lightingmode=dawn] {
  --brand-stroke-color: #{ hsl(50,90,50) };
  --brand-text-color: #{ hsl(50,93,48) };
  --figure-drop-color: var(--highlight-color);
  --figure-stroke-color: #{ rgba(0,0,0,.2) };
  --hair-stroke-color: #{ rgba(0,0,0,.15) };
  --header-background: #{ hsl(40,30,12) };
  --header-stroke-style: none;
  --header-text-color: white;
  --header-text-muted-color: #{ rgba(255,255,255,.6) };
  --highlight-color: #{ rgba(0,0,0,.1) };
  --link-stroke-color: #{ hsl(50,95,50) };
  --link-stroke-color--hover: #{ hsl(40,95,45) };
  --page-color: white;
  --text-color: #{ rgba(0,0,0,.8) };
  --text-display-color: black;
  --text-muted-color: #{ rgba(0,0,0,.4) };
  --thin-stroke-color: #{ rgba(0,0,0,.25) };
}
[data-lightingmode=dawn] {
  --page-color: #{ hsl(60,10,95) };
}
[data-lightingmode=night] {
  --brand-stroke-color: #{ hsl(50,90,40) };
  --figure-drop-color: var(--highlight-color);
  --figure-stroke-color: var(--hair-stroke-color);
  --hair-stroke-color: #{ rgba(255,255,255,.2) };
  --header-background: none;
  --header-stroke-style: #{ 2px solid var(--hair-stroke-color) };
  --header-text-color: var(--text-display-color);
  --header-text-muted-color: var(--text-muted-color);
  --highlight-color: #{ rgba(255,255,255,.1) };
  --link-stroke: #{ hsl(50,85,40) };
  --link-stroke--hover: #{ hsl(35,90,45) };
  --page-color: black;
  --text-color: #{ rgba(255,255,255,.6) };
  --text-display-color: #{ rgba(255,255,255,.8) };
  --text-muted-color: #{ rgba(255,255,255,.4) };
  --thin-stroke-color: #{ rgba(255,255,255,.25) };
}
[data-lightingmode=dusk] {
  --brand-stroke-color: #{ hsl(50,95,45) };
  --figure-drop-color: var(--highlight-color);
  --figure-stroke-color: var(--hair-stroke-color);
  --hair-stroke-color: #{ rgba(255,255,255,.2) };
  --header-background: none;
  --header-stroke-style: #{ 1px solid var(--hair-stroke-color) };
  --header-text-color: var(--text-display-color);
  --header-text-muted-color: var(--text-muted-color);
  --highlight-color: #{ rgba(255,255,255,.1) };
  --link-stroke: #{ hsl(50,90,45) };
  --link-stroke--hover: #{ hsl(35,95,50) };
  --page-color: #{ hsl(220,50,25) };
  --text-color: #{ rgba(255,255,255,.9) };
  --text-display-color: white;
  --text-muted-color: #{ rgba(255,255,255,.6) };
  --thin-stroke-color: #{ rgba(255,255,255,.25) };
}

// Type
:root {
  --font-family: "chaparral-pro-1", "chaparral-pro-2", "Chaparral Pro", Georgia, serif;
  --font-family-decorative: var(--font-family);
  --font-family-display: var(--font-family);
  --font-family-caption: var(--font-family);
  --font-family-text: var(--font-family);
  --font-size: 18px;
  --font-size-base: var(--font-size);
  --font-size-text: var(--font-size);
  --font-size-title: calc(1.25 * var(--font-size));
  --font-size-decorative: calc(3 * var(--font-size));
  --font-size-heading: calc(1.25 * var(--font-size));
  --font-size-subhead: calc(0.85 * var(--font-size));
  --font-size-caption: calc(0.85 * var(--font-size));
  --font-size-micro: calc(0.75 * var(--font-size));
  --line-height: 1.3;
  --line-height-base: calc(var(--font-size) * var(--line-height));
  --line-height-heading: 1.2;
  --reading-measure: calc(30 * var(--font-size-base));
  --type-space-fifth: calc(0.2 * var(--line-height-base));
  --type-space-half: calc(0.5 * var(--line-height-base));
  --type-space-single: calc(1 * var(--line-height-base));
  --type-space-double: calc(2 * var(--line-height-base));
  --type-space-tad: calc(1 * var(--line-height-base));
  --type-space-dash: calc(0.5 * var(--line-height-base));
  --type-space-pinch: calc(0.25 * var(--line-height-base));
  --type-space-smidgen: calc(0.125 * var(--line-height-base));
}
@media #{$ssm} {
  :root {
    --font-size: 20px;
    --font-size-title: calc(2 * var(--font-size));
    --line-height: 1.4;
    --line-height-heading: 1.3;
    --type-space-tad: calc(2 * var(--line-height-base));
    --type-space-dash: calc(1 * var(--line-height-base));
    --type-space-pinch: calc(0.5 * var(--line-height-base));
    --type-space-smidgen: calc(0.25 * var(--line-height-base));
  }
}
@media #{$ssl} {
  :root {
    --font-size: 24px;
    --line-height: 1.45;
  }
}

// Decoration
:root {
  --figure-drop-offset: .5em -.5em 0;
  --link-stroke-width: 1px;
  --link-stroke-width-heading: 2px;
}
@media #{$ssm} {
  :root {
    --link-stroke-width: 2px;
    --link-stroke-width-heading: 3px;
  }
}
@media #{$ssl} {
  :root {
    --figure-drop-offset: .5em .5em 0;
  }
}

html {
	min-height: 100%;
}

body {
	background: var(--page-color);
	border-top: .25em solid var(--brand-stroke-color);
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);
	margin: 0;
	min-height: 100%;
	padding-bottom: var(--type-space-dash);
}

header, main, section, footer {
	margin: auto;
	padding-left: var(--type-space-dash);
	padding-right: var(--type-space-dash);
	position: relative;
	z-index: 2;
}
main >, section >, article > {
  h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, time, hr,  .footnotes {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--reading-measure);
	}
}
article {
  margin-bottom: var(--type-space-double);
}

hr {
  border: none;
  border-top: 1px solid var(--thin-stroke-color);
}

h1, h2, h3 {
  color: var(--text-display-color);
	font-family: var(--font-family-display);
	line-height: var(--line-height-heading);
}
h1 {
	font-size: var(--font-size-heading);
  --link-stroke-width: var(--link-stroke-width-heading);
}
h2 {
	font-size: var(--font-size-subhead);
	font-weight: bold;
	letter-spacing: .1em;
	margin: var(--type-space-double) 0 var(--type-space-single);
	text-transform: uppercase;
}
p {
	margin: 0 auto var(--type-space-single);
	&.lede {
	  color: var(--text-display-color);
	  font-family: var(--font-family-display);
	  font-size: var(--font-size-heading);
	  font-style: italic;
	  line-height: var(--line-height-heading);
	  --link-stroke-width: var(--link-stroke-width-heading);
	}
}
figure {
  margin: 0 0 var(--type-space-single);
  padding: 0;
  &.screenshot .browser {
    border: 1px solid var(--figure-stroke-color);
    box-shadow:
      var(--figure-drop-offset)
      var(--figure-drop-color);
    img {
      display: block;
    }
  }
  figcaption {
    font-family: var(--font-family-caption);
    font-size: smaller;
    margin-bottom: var(--type-space-double);
    margin-top: var(--type-space-half);
    h2 {
      margin-top: var(--type-space-half);
      margin-bottom: var(--type-space-half);
    }
  }
  @media #{$ssl} {
    &.screenshot {
      padding-bottom: var(--type-space-single);
      overflow: auto;
      .browser {
        float: left;
        width: 60%;
      }
      figcaption {
        box-sizing: border-box;
        float: right;
        margin-bottom: 0;
        margin-top: var(--type-space-single);
        width: 37%;
      }
    }
  }
}
img {
  max-width: 100%;
}
time {
  color: var(--text-muted-color);
  display: block;
  margin: 0 auto var(--type-space-single);
}
code {
  background: var(--highlight-color);
  border-radius: .25em;
  padding: 0 var(--type-space-fifth);
}
ul {
  list-style: square;
}
dt {
  font-family: var(--font-family-text);
  font-weight: bold;
  margin-top: var(--type-space-single);
}
dd {
  margin: var(--type-space-half) 0 var(--type-space-single);
  padding: 0;
}
blockquote {
  box-sizing: border-box;
  font-family: var(--font-family-text);
  font-size: smaller;
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--type-space-double);
  padding-right: var(--type-space-double);
  &:before {
    color: var(--brand-text-color);
    content: '“';
    display: block;
    float: left;
    font-family: var(--font-family-decorative);
    font-size: var(--font-size-decorative);
    font-weight: bold;
    margin-left: -.7em;
    margin-top: -.4em;
  }
  blockquote {
    border-left: 1px solid var(--brand-stroke-color);
    font-size: 1em;
    margin-left: var(--type-space-single);
    margin-right: var(--type-space-single);
    padding-left: var(--type-space-single);
    padding-right: 0;
    &:before {
      display: none;
    }
  }
}
a {
	box-shadow:
	  inset
      0
      calc(-1 * var(--link-stroke-width))
      var(--page-color)
    ,
	  inset
      0
      calc(-2 * var(--link-stroke-width))
      var(--link-stroke-color)
    ;
	color: inherit;
	text-decoration: none;
	text-shadow:
	  0 1px 0 var(--page-color),
	  1px 1px 0 var(--page-color),
	  -1px 1px 0 var(--page-color);
	-webkit-transition: box-shadow 250ms;
	transition: box-shadow 250ms;
	&:hover {
    box-shadow:
      inset
        0
        calc(-1 * var(--link-stroke-width))
        var(--page-color)
      ,
      inset
        0
        calc(-2 * var(--link-stroke-width))
        var(--link-stroke-color--hover)
      ;
	}
	header[role=banner] &, footer[role=contentinfo] & {
	  box-shadow: unset;
	  text-shadow: none;
	}
	footer[role=contentinfo] & {
    color: var(--text-muted-color);
	}
}

header[role=banner] {
  background: var(--header-background);
  border-bottom: var(--header-stroke-style);
  color: var(--header-text-color);
  margin-bottom: var(--type-space-single);
  overflow: auto;
  h1 {
    color: inherit;
    font-size: var(--font-size);
    font-weight: normal;
    @media #{$ssl} {
      float: left;
      margin: var(--type-space-half) 0; 
    }
  }
  nav {
    font-size: var(--font-size);
    @media #{$ssl} {
      float: right;
      margin-top: var(--type-space-half);
    }
    a {
      color: var(--header-text-muted-color);
      font-family: var(--font-family);
      margin-right: var(--type-space-pinch);
      &.active, &.selected {
        color: var(--header-text-color);
      }
      &[rel=home] {
        display: none;
        @media #{$ssm} {
          display: inline;
        }
      }
      @media #{$ssl} {
        margin-left: var(--type-space-pinch);
        margin-right: 0;
      }
    }
  }
}

main[role=main] {
  margin-top: var(--type-space-double);
  h1 {
    font-size: var(--font-size-title);
    font-weight: normal;
    font-style: italic;
  }
}

footer[role=contentinfo] {
  border-top: 1px solid var(--hair-stroke-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin-top: var(--type-space-double);
  padding-top: var(--type-space-dash);
	nav {
	  display: inline;
	  a:before {
	    color: var(--text-color);
	    content: ' · ';
	    display: inline;
	  }
	}
}

.footnotes {
  font-size: var(--font-size-caption);
  margin-top: var(--type-space-double);
  hr {
    display: none;
  }
  &:before {
    border-top: 2px solid var(--hair-stroke-color);
    content: '';
    display: block;
    width: 5em;
  }
}

.footnote {
  background: var(--highlight-color);
  box-shadow: unset;
  border-radius: 2em;
  font-size: var(--font-size-micro);
  margin: 0 1px;
  padding: 1px 1em;
  text-align: center;
}

.reversefootnote {
  background: none;
  box-shadow: unset;
  color: var(--text-muted-color);
  font-size: var(--font-size-micro);
  margin: 0 1px;
  padding: 0;
}