<script>

// Lighting modes
var now = new Date();
var hour = now.getHours();
if ( hour < 6 || hour >= 22 ) {
  document.getElementsByTagName('html')[0].dataset.lightingmode = 'night';
} else if ( hour < 22 && hour >= 20 ) {
  document.getElementsByTagName('html')[0].dataset.lightingmode = 'dusk';
} else if ( hour < 8 && hour >= 6 ) {
  document.getElementsByTagName('html')[0].dataset.lightingmode = 'dawn';
} else {
  document.getElementsByTagName('html')[0].dataset.lightingmode = 'day';
}

// Open external links in new tab
for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
  var b = c[a];
  b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
}

</script>
