<script>

// Lighting modes
var now = new Date();
var hour = now.getHours();
if ( hour >= 20 ) {
  document.getElementsByTagName('html')[0].dataset.lightingmode = 'dusk';
} else if ( hour < 6 ) {
  document.getElementsByTagName('html')[0].dataset.lightingmode = 'night';
} else if ( hour < 9 ) {
  document.getElementsByTagName('html')[0].dataset.lightingmode = 'dawn';
} else {
  document.getElementsByTagName('html')[0].dataset.lightingmode = 'day';
}
document.getElementsByTagName('html')[0].dataset.lightingmode = 'dusk';

// Open external links in new tab
for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
  var b = c[a];
  b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
}

</script>

{% if page.content contains 'include codepen.html' %}
<!-- CodePen -->
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
{% endif %}
