* {
  box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	background: var(--page-color);
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);
	margin: 0;
	min-height: 100%;
	padding-bottom: var(--type-space-dash);
}

header, main, section, footer {
	padding-left: var(--type-space-dash);
	padding-right: var(--type-space-dash);
	position: relative;
	z-index: 2;
}
main >, section >, article > {
  h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, time, hr,  .footnotes {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--reading-measure);
	}
}
article {
  margin-bottom: var(--type-space-500);
}

hr {
  border: none;
  border-top: 1px solid var(--thin-stroke-color);
}

h1, h2, h3 {
  color: var(--text-display-color);
	font-family: var(--font-family-display);
	line-height: var(--line-height-heading);
}
h1 {
	font-size: var(--font-size-heading);
  --link-stroke-width: var(--link-stroke-width-heading);
  &.page-title {
    font-family: var(--font-family-decorative);
    font-weight: 900;
  }
}
h2 {
  font-family: var(--font-family-decorative);
	font-size: var(--font-size-subhead);
  font-weight: 700;
	margin: var(--type-space-500) 0 var(--type-space-400);
}
p {
	margin: 0 auto var(--type-space-400);
	&.lede {
	  color: var(--text-display-color);
	  font-family: var(--font-family-decorative);
	  font-size: var(--font-size-title);
    font-style: italic;
	  font-weight: 700;
    letter-spacing: -0.06em;
	  --link-stroke-width: var(--link-stroke-width-heading);
    margin-bottom: var(--type-space-tad);
    max-width: calc(var(--reading-measure) * var(--interval) * var(--interval));
    text-align: left;
	}
}
img {
  max-width: 100%;
}
time {
  color: var(--text-muted-color);
  display: block;
  font-family: var(--font-family-caption);
  font-size: var(--font-size-caption);
  margin: 0 auto var(--type-space-400);
}
code {
  background: var(--highlight-color);
  border-radius: .25em;
  padding: 0 var(--type-space-200);
}
ul {
  list-style: square;
}
dt {
  font-family: var(--font-family-display);
  font-weight: bold;
  margin-top: var(--type-space-400);
}
dd {
  margin: var(--type-space-300) 0 var(--type-space-400);
  padding: 0;
}
blockquote {
  box-sizing: border-box;
  font-family: var(--font-family-text);
  font-size: var(--font-size-scale-300);
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--type-space-400);
  padding-right: var(--type-space-400);
  &:before {
    color: var(--brand-text-color);
    content: '“';
    display: block;
    float: left;
    font-family: var(--font-family-decorative);
    font-size: var(--font-size-decorative);
    font-weight: bold;
    margin-left: -.7em;
    margin-top: -.4em;
  }
  blockquote {
    border-left: 1px solid var(--brand-stroke-color);
    margin-left: var(--type-space-400);
    margin-right: var(--type-space-400);
    padding-left: var(--type-space-400);
    padding-right: 0;
    &:before {
      display: none;
    }
  }
}
a {
	box-shadow:
	  inset
      0
      calc(-1 * var(--link-stroke-width))
      var(--link-stroke-color)
    ;
	color: inherit;
	text-decoration: none;
	text-shadow:
	  0 1px 0 var(--page-color),
	  1px 1px 0 var(--page-color),
	  -1px 1px 0 var(--page-color);
	-webkit-transition: box-shadow 250ms;
	transition: box-shadow 250ms;
	&:hover {
    box-shadow:
      inset
        0
        calc(-1 * var(--link-stroke-width))
        var(--link-stroke-color--hover)
      ;
	}
	header[role=banner] &, footer[role=contentinfo] & {
	  box-shadow: unset;
	  text-shadow: none;
	}
	footer[role=contentinfo] & {
    color: var(--text-muted-color);
	}
}
sub, sup {
  line-height: 0;
}
del {
  color: var(--text-muted-color);
}
