@font-face {
    font-family: 'Vulf Mono';
    src:    url('/fonts/vulf-mono/Vulf_Mono-Regular_web.eot');
    src:    url('/fonts/vulf-mono/Vulf_Mono-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('/fonts/vulf-mono/Vulf_Mono-Regular_web.woff') format('woff'),
            url('/fonts/vulf-mono/Vulf_Mono-Regular_web.woff2') format('woff2'),
            url('/fonts/vulf-mono/Vulf_Mono-Regular_web.ttf') format('truetype'),
            url('/fonts/vulf-mono/Vulf_Mono-Regular_web.svg#svgFontName') format('svg');
    font-weight: 400;
    font-style: normal;
}
