$hue-spread: 15;
$accent-hue: 50;
$secondary-hue: $accent-hue + 145;
$accent-hue-100: ($accent-hue - 4 * $hue-spread);
$accent-hue-200: ($accent-hue - 3 * $hue-spread);
$accent-hue-300: ($accent-hue - 2 * $hue-spread);
$accent-hue-350: ($accent-hue - 1.5 * $hue-spread);
$accent-hue-400: ($accent-hue - $hue-spread);
$accent-hue-500: $accent-hue;
$accent-hue-600: ($accent-hue + $hue-spread);
$accent-hue-700: ($accent-hue + 2 * $hue-spread);
$accent-hue-800: ($accent-hue + 3 * $hue-spread);
$accent-hue-900: ($accent-hue + 4 * $hue-spread);
$secondary-hue-100: ($secondary-hue - 4 * $hue-spread);
$secondary-hue-200: ($secondary-hue - 3 * $hue-spread);
$secondary-hue-300: ($secondary-hue - 2 * $hue-spread);
$secondary-hue-350: ($secondary-hue - 1.5 * $hue-spread);
$secondary-hue-400: ($secondary-hue - $hue-spread);
$secondary-hue-500: $secondary-hue;
$secondary-hue-600: ($secondary-hue + $hue-spread);
$secondary-hue-700: ($secondary-hue + 2 * $hue-spread);
$secondary-hue-800: ($secondary-hue + 3 * $hue-spread);
$secondary-hue-900: ($secondary-hue + 4 * $hue-spread);
:root, [data-lightingmode=day], [data-lightingmode=dawn] {
  --brand-stroke-color: #{ hsl($accent-hue-400,90,50) };
  --brand-text-color: #{ hsl($accent-hue-400,93,48) };
  --figure-drop-color: var(--highlight-color);
  --figure-stroke-color: #{ rgba(0,0,0,.2) };
  --hair-stroke-color: #{ rgba(0,0,0,.15) };
  --header-background: #{ hsl($secondary-hue-600,30,12) };
  --header-stroke-style: none;
  --header-text-color: white;
  --header-text-muted-color: #{ rgba(255,255,255,.6) };
  --highlight-color: #{ rgba(0,0,0,.1) };
  --link-stroke-color: #{ hsl($accent-hue-400,95,50) };
  --link-stroke-color--hover: #{ hsl($accent-hue-300,95,45) };
  --page-color: #{ hsl($secondary-hue-500,15,85) };
  --text-color: #{ rgba(0,0,0,.8) };
  --text-display-color: black;
  --text-muted-color: #{ rgba(0,0,0,.4) };
  --thin-stroke-color: #{ rgba(0,0,0,.25) };
}
[data-lightingmode=night], [data-lightingmode=dusk] {
  --brand-stroke-color: #{ hsl($accent-hue-400,90,30) };
  --figure-drop-color: var(--highlight-color);
  --figure-stroke-color: var(--hair-stroke-color);
  --hair-stroke-color: #{ rgba(255,255,255,.2) };
  --header-background: none;
  --header-stroke-style: #{ 2px solid var(--hair-stroke-color) };
  --header-text-color: var(--text-display-color);
  --header-text-muted-color: var(--text-muted-color);
  --highlight-color: #{ rgba(255,255,255,.1) };
  --link-stroke-color: #{ hsl($accent-hue-400,85,40) };
  --link-stroke-color--hover: #{ hsl($accent-hue-300,90,45) };
  --page-color: #{ hsl($secondary-hue-500,30,5) };
  --text-color: #{ rgba(255,255,255,.7) };
  --text-display-color: #{ rgba(255,255,255,.8) };
  --text-muted-color: #{ rgba(255,255,255,.4) };
  --thin-stroke-color: #{ rgba(255,255,255,.25) };
}
[data-lightingmode=dusk] {
  --brand-stroke-color: #{ hsl($accent-hue-500,95,45) };
  --link-stroke-color: #{ hsl($accent-hue-500,90,45) };
  --link-stroke-color--hover: #{ hsl($accent-hue-350,95,50) };
  --page-color: #{ hsl($secondary-hue-500,30,12) };
  --text-color: #{ rgba(255,255,255,.9) };
  --text-display-color: white;
  --text-muted-color: #{ rgba(255,255,255,.6) };
}
