:root {
  --font-family: #{$serif};
  --font-family-sans: #{$sans};
  --font-family-decorative: var(--font-family-sans);
  --font-family-display: var(--font-family-sans);
  --font-family-caption: var(--font-family-sans);
  --font-family-interface: var(--font-family-sans);
  --font-family-text: var(--font-family);
  --font-size: 16px;
  --font-size-interval: var(--interval);
  --font-size-scale-100: calc(var(--font-size-scale-200) / var(--font-size-interval));
  --font-size-scale-200: calc(var(--font-size-scale-300) / var(--font-size-interval));
  --font-size-scale-300: calc(var(--font-size-scale-400) / var(--font-size-interval));
  --font-size-scale-400: var(--font-size);
  --font-size-scale-500: calc(var(--font-size-interval) * var(--font-size-scale-400));
  --font-size-scale-600: calc(var(--font-size-interval) * var(--font-size-scale-500));
  --font-size-scale-700: calc(var(--font-size-interval) * var(--font-size-scale-600));
  --font-size-scale-800: calc(var(--font-size-interval) * var(--font-size-scale-700));
  --font-size-scale-900: calc(var(--font-size-interval) * var(--font-size-scale-800));
  --font-size-base: var(--font-size);
  --font-size-text: var(--font-size);
  --font-size-title: var(--font-size-scale-500);
  --font-size-decorative: var(--font-size-scale-800);
  --font-size-heading: var(--font-size-scale-500);
  --font-size-subhead: var(--font-size-scale-300);
  --font-size-caption: var(--font-size-scale-300);
  --font-size-micro: var(--font-size-scale-200);
  --interval: 1.125;
  --line-height: 1.4;
  --line-height-base: calc(var(--font-size) * var(--line-height));
  --line-height-heading: 1.2;
  --reading-measure: calc(35 * var(--font-size-base));
  --type-space-fifth: calc(0.2 * var(--line-height-base));
  --type-space-half: calc(0.5 * var(--line-height-base));
  --type-space-single: calc(1 * var(--line-height-base));
  --type-space-double: calc(2 * var(--line-height-base));
  --type-space-tad: calc(1 * var(--line-height-base));
  --type-space-dash: calc(0.5 * var(--line-height-base));
  --type-space-pinch: calc(0.25 * var(--line-height-base));
  --type-space-smidgen: calc(0.125 * var(--line-height-base));
}
@media #{$ssm} {
  :root {
    --font-size: 18px;
    --font-size-title: var(--font-size-scale-800);
    --line-height: 1.5;
    --line-height-heading: 1.3;
    --type-space-tad: calc(2 * var(--line-height-base));
    --type-space-dash: calc(1 * var(--line-height-base));
    --type-space-pinch: calc(0.5 * var(--line-height-base));
    --type-space-smidgen: calc(0.25 * var(--line-height-base));
  }
}
@media #{$ssl} {
  :root {
    --font-size: 20px;
    --line-height: 1.55;
  }
}
