$serif: Chronicle, Georgia, serif;
$sans: Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Avenir, Noto, sans-serif;
$mono: "Vulf Mono", monospace;
$ssm: "all and (min-width: 35em)";
$ssl: "all and (min-width: 45em)";
$ssxl: "all and (min-width: 60em)";

@import "color";
@import "typography";
@import "decoration";
