:root {
  --figure-drop-offset: .5em -.5em 0;
  --link-stroke-width: 1px;
  --link-stroke-width-heading: 2px;
}
@media #{$ssm} {
  :root {
    --link-stroke-width: 2px;
    --link-stroke-width-heading: 3px;
  }
}
@media #{$ssl} {
  :root {
    --figure-drop-offset: .5em .5em 0;
  }
}
