:root {
  --font-family: #{$serif};
  --font-family-sans: #{$sans};
  --font-family-mono: #{$mono};
  --font-family-decorative: var(--font-family-mono);
  --font-family-display: var(--font-family);
  --font-family-caption: var(--font-family-sans);
  --font-family-interface: var(--font-family-sans);
  --font-family-text: var(--font-family);
  --font-size: 16px;
  --font-size-interval: var(--interval);
  --font-size-scale-100: calc(var(--font-size-scale-200) / var(--font-size-interval));
  --font-size-scale-200: calc(var(--font-size-scale-300) / var(--font-size-interval));
  --font-size-scale-300: calc(var(--font-size-scale-400) / var(--font-size-interval));
  --font-size-scale-400: var(--font-size);
  --font-size-scale-500: calc(var(--font-size-interval) * var(--font-size-scale-400));
  --font-size-scale-600: calc(var(--font-size-interval) * var(--font-size-scale-500));
  --font-size-scale-700: calc(var(--font-size-interval) * var(--font-size-scale-600));
  --font-size-scale-800: calc(var(--font-size-interval) * var(--font-size-scale-700));
  --font-size-scale-900: calc(var(--font-size-interval) * var(--font-size-scale-800));
  --font-size-base: var(--font-size);
  --font-size-text: var(--font-size);
  --font-size-title: var(--font-size-scale-700);
  --font-size-decorative: var(--font-size-scale-900);
  --font-size-heading: var(--font-size-scale-600);
  --font-size-subhead: var(--font-size-scale-400);
  --font-size-caption: var(--font-size-scale-300);
  --font-size-micro: var(--font-size-scale-200);
  --interval: calc(9/8);
  --line-height: 1.4;
  --line-height-base: calc(var(--font-size) * var(--line-height));
  --line-height-heading: 1.2;
  --reading-measure: calc(35 * var(--font-size-base));
  --type-space: var(--line-height-base);
  --type-space-ratio: calc(39/40);
  --type-space-interval: calc(2 * var(--type-space-ratio));
  --type-space-100: calc(var(--type-space-200) / var(--type-space-interval));
  --type-space-200: calc(var(--type-space-300) / var(--type-space-interval));
  --type-space-300: calc(var(--type-space-400) / var(--type-space-interval));
  --type-space-400: var(--type-space);
  --type-space-500: calc(var(--type-space-interval) * var(--type-space-400));
  --type-space-600: calc(var(--type-space-interval) * var(--type-space-500));
  --type-space-700: calc(var(--type-space-interval) * var(--type-space-600));
  --type-space-800: calc(var(--type-space-interval) * var(--type-space-700));
  --type-space-900: calc(var(--type-space-interval) * var(--type-space-800));
  --type-space-tad: var(--type-space-400);
  --type-space-dash: var(--type-space-300);
  --type-space-pinch: var(--type-space-200);
  --type-space-smidgen: var(--type-space-100);
}
@media #{$ssm} {
  :root {
    --font-size: 18px;
    --font-size-title: var(--font-size-scale-800);
    --line-height: 1.5;
    --line-height-heading: 1.3;
    --type-space-tad: var(--type-space-500);
    --type-space-dash: var(--type-space-400);
    --type-space-pinch: var(--type-space-300);
    --type-space-smidgen: var(--type-space-200);
  }
}
@media #{$ssl} {
  :root {
    --font-size: 20px;
    --font-size-title: var(--font-size-scale-900);
    --line-height: 1.55;
  }
}
