<header role="banner">
  <a class="h-card" rel="me" href="{% link index.md %}">Nevan Scott</a>
  <nav role="navigation">
    <a href="/teaching/"{% if page.url == "/teaching/" %} class="active"{% endif %}>Teaching</a>
    <a href="/writing/"{% if page.url == "/writing/" %} class="active"{% endif %}>Writing</a>
    <a href="/portfolio/"{% if page.url == "/portfolio/" %} class="active"{% endif %}>Portfolio</a>
    <a href="/reading/"{% if page.url == "/reading/" %} class="active"{% endif %}>Reading</a>
  </nav>
</header>
