.teaser__title {
  font-size: var(--font-size-heading);
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: var(--type-space-smidgen);
}

.teaser__published {
  margin-bottom: var(--type-space-pinch);
}
