<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ site.name }}{% if page.title %} &middot; {{ page.title | textilize | strip_html }}{% endif %}</title>
	<meta name="viewport" content="width=995" />
	<link href="/index.xml" rel="alternate" title="Nevan Scott" type="application/atom+xml" />
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6747292/623588/css/fonts.css" />
	<link rel="stylesheet" href="/css/main.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script>
		$(function(){
			$('a.annotation').on('click', function(e){
				var $this = $(this),
					$target = $($this.attr('href'));
				e.preventDefault();
				$this.toggleClass('open');
				$target.toggleClass('open');
			});
		});
	</script>
</head>
<body>
	<div id="pattern"></div>
	<section>	
		{{ content }}
	</section>	
</body>
</html>
