<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ site.name }}{% if page.title %} &middot; {{ page.title | textilize | strip_html }}{% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<style>{% capture styles %}{% include main.scss %}{% endcapture %}{{ styles | scssify }}</style>
</head>
<body>
  <header role="banner">
    <h1><a class="h-card" rel="me" href="{{ "/" | prepend: site.baseurl }}">Nevan Scott</a></h1>
    <nav>
      <a href="/projects/">Projects</a>
      <a href="/reading/">Reading</a>
    </nav>
  </header>
	<main role="main">
	  {% if page.title %}
    <h1>{{ page.title | markdownify | strip_html }}</h1>
	  {% endif %}
		{{ content }}
	</main>
	<footer role="contentinfo">
	  Nevan Scott
	  &copy;
	  2007–{{ site.time | date:"%Y" }}
	  <nav>
	    <a href="/colophon/">Colophon</a>
	  </nav>
	</footer>
</body>
</html>
